@model WebApplication2.Models.game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team2.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team2.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tournament.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tournament.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
